<!doctype html>
<html>
<head>
	<!-- 
		This is a simple test for a single movie layout
	-->
	<meta charset="utf-8" />
   <title>Movie Tinder (Test)</title>
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
	
	<div class="column side">
		<img src = {{m_url}} id = "cover">
	</div>
	<div class = "column middle">
		<p align="center"><a href=yes ><button class=grey style="height:75px;width:150px">Yes</button></a></p>
		<p align="center"><a href=no ><button class=grey style="height:75px;width:150px">No</button></a></p>
		<p align="center"><a href=restart ><button class=grey style="height:75px;width:150px">Start Over</button></a></p>
	</div>
	<div class = "column side">
		<h1>{{m_title}}</h1>
		<h3>{{m_year}}</h3>
		<h3>Summary</h3>
		<p>{{m_desc}}</p>
		<table style = "width:100%">
			<tr>
				<td>Genre</td>
				<td>{{m_genre}}</td>
			</tr>
			<tr>
				<td>Runtime</td>
				<td>{{m_time}} minutes</td>
			</tr>
			<tr>
				<td>Director</td>
				<td>{{m_director}}</td>
			</tr>
			<tr>
				<td>Writer</td>
				<td>{{m_writer}}</td>
			</tr>
			<tr>
				<td>Average Votes</td>
				<td>{{m_votes}} out of 10</td>
			</tr>
			
		</table>
	</div>
</body>



</html>